<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="delegates" value="false" />
    <add key="enums" value="false" />
    <add key="generics" value="true" />

  </appSettings>
</configuration>